html,
body {
    margin: 0;
    padding: 0;
}

a {
    color: aliceblue;
    text-decoration: none;
}

.navbar {
    display: inline-block;
    color: rgb(250, 250, 250);
    width: 100%;
    height: 90px;
    background-color: rgb(46, 46, 77);
}

.container {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.left i {
    color: moccasin;
}

.list li {
    list-style-type: none;
    display: inline;
    margin-left: 10px;
}

.left {
    font-size: 25px;

}

.fa-facebook-f {
    margin-left: 5px;
}

.bar {
    display: none;
}


@media screen and (max-width: 770px) {
    .navbar {
        display: inline-block;
        color: rgb(255, 255, 255);
        width: 100%;
        height: auto;
        background-color: rgb(46, 46, 77);
    }


    .container {
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        flex-wrap: nowrap;
    }

    .left {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .mid {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    .list {
        margin-left: 0px;
        padding-left: 0;
    }

    ul {
        width: 100%;
    }

    #listDiv {
        width: 100%;
    }

    .list li {
        list-style-type: none;
        display: block;
        text-align: center;
        margin-left: 0px;
        border: solid 2px transparent;
        padding: 5px;
        border-radius: 2px;
    }

    .list li:hover {
        border-color: peru;
        background-color: peru;
        cursor: pointer;
    }

    .bar {
        display: inline-block;
        border: 2px solid transparent;
        border-radius: 12%;
        padding-right: 3px;
        padding-left: 3px;
    }

    .bar:hover {
        border-color: rgb(185, 152, 119);
        cursor: pointer;
    }

    .right {
        text-align: center;
    }
}